.header {
    max-width: 880px;
    min-height: 5.78vw;
    margin: 0 auto 0 auto;
    padding-top: 46px;
    margin-bottom: 36px;
    border-bottom: 1px solid rgba(84,84,84,0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .header {
        padding-top: 8.75vw;
        min-height: 17.5vw;
        margin-bottom: 38.25px;
    }
}

